In [1]:
!ls

MAU_events_chapter_1.csv  run3_clean.tsv  run6_clean.tsv  run9_clean.tsv
run1_clean.tsv		  run4_clean.tsv  run7_clean.tsv  Untitled.ipynb
run2_clean.tsv		  run5_clean.tsv  run8_clean.tsv

In [63]:
!pip install text2num

Collecting text2num
  Downloading text2num-2.5.0.tar.gz (38 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: text2num
  Building wheel for text2num (setup.py) ... done
  Created wheel for text2num: filename=text2num-2.5.0-py3-none-any.whl size=58659 sha256=a2a934fb9d1961d899c9ad2bbc68669b293f6ea3e2e3150d27b9e8fe736bf887
  Stored in directory: /home/co/.cache/pip/wheels/49/b2/af/5db9aefd179867bbae782e4e1aefa78490377f561b4c97f34e
Successfully built text2num
Installing collected packages: text2num
Successfully installed text2num-2.5.0

In [64]:
import pandas as pd
import numpy as np
from text_to_num import text2num

In [6]:
df = pd.read_csv('./MAU_events_chapter_1.csv')

In [44]:
df

,Unnamed: 0,phoneme,onset,duration,kind,low,high,mid,labial,glottal,...,vowel,plosive,fricative,nasal,approximant,trill,voice,voiced_vowel,word,sentence_id
0,0,l,3.00,0.06,phoneme,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0
1,1,O,3.06,0.13,phoneme,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0
2,2,R,3.19,0.03,phoneme,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0
3,3,s,3.22,0.09,phoneme,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,4,k,3.31,0.06,phoneme,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6357,6357,NaN,609.49,0.14,word,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,peut,0.0
6358,6358,NaN,609.63,0.17,word,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pas,0.0
6359,6359,NaN,609.88,0.14,word,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,aller,0.0
6360,6360,NaN,610.02,0.18,word,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bien,0.0
6361,6361,NaN,610.20,0.20,word,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loin,0.0

In [37]:
chr_df = pd.read_csv('allwords.csv',sep='\t',names = ['word', 'sentence_id'])
chr_df

               word  sentence_id
0           lorsque            1
1           j'avais            1
2               six            1
3               ans            1
4              j'ai            1
...             ...          ...
13932           que         1502
13933            ça         1502
13934             a         1502
13935     tellement         1502
13936  d'importance         1502

[13937 rows x 2 columns]

In [60]:
count_chr = 0
count_df = df.query("kind=='word'")["onset"].idxmin()
for index, row in df.query("kind=='word'").iterrows():

    word =  df.at[count_df, 'word']
    chr_word = chr_df.at[count_chr,'word']

    if word == chr_word:
        df.at[count_df, 'sentence_id'] = chr_df.at[count_chr,'sentence_id']  # TOFIX sentence_id?
        count_df +=1
        count_chr += 1
    
    elif word in chr_word:  #  "l", "avais" in "l'avais"
        df.at[count_df, 'sentence_id'] = chr_df.at[count_chr,'sentence_id']  # TOFIX sentence_id?
        
        count_df +=1
        word =  df.at[count_df, 'word']
        assert word in chr_word
        df.at[count_df, 'sentence_id'] = chr_df.at[count_chr,'sentence_id']  # TOFIX sentence_id?
        
        count_df += 1
        count_chr += 1
    elif text2num(word, lang='fr') == chr_word:
        df.at[count_df, 'sentence_id'] = chr_df.at[count_chr,'sentence_id']  # TOFIX sentence_id?
        count_df +=1
        count_chr += 1
        
    else:
        
        print(word)
        print(chr_word)
        raise ValueError

un
1

ValueError:

In [66]:
text2num('quatre-vingt-quinze',lang='fr')

95

In [53]:
count_df = df.query("kind=='word'")["onset"].idxmin()
count_df

4868